<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <daonguyen_sample_payment>
                <active>1</active>
                <debug>1</debug>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>0</is_gateway>
                <model>DaoNguyenSamplePaymentFacade</model>
                <order_status>pending</order_status>
                <title>DaoNguyen's Sample Payment</title>
            </daonguyen_sample_payment>
        </payment>
    </default>
</config>
